SC_20.1_Live/.nsdeploy
SC_20.1_Live/LocalDistributionAdvanced/*
SC_20.1_Live/DeployDistributionAdvanced/*
SC_20.1_Live/DeployDistributionAdvancedSS2/*
SC_20.1_Live/sass.js
SC_20.1_Live/version.txt
SC_20.1_Live/node_modules/*
SC_20.1_Live/package-lock.json
theme/node_modules/*
theme/package-lock.json
theme/.nsdeploy
theme/LocalDistribution/*
theme/DeployDistribution/*
theme/Workspace/Extras/*
extensions/node_modules/*
extensions/package-lock.json
extensions/.nsdeploy
extensions/LocalDistribution/*
extensions/DeployDistribution/*
extensions/Workspace/Extras/*